*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  box-shadow: 0px 0px 25px currentcolor;
  padding: 10px;
  text-shadow: 2px 1px 3px white;
}
.container{
  color: darkviolet;
  border: 5px solid currentcolor;
}
.text-justify{
  color: #737373;
}
.text-justify:hover{
  color: white;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: blueviolet;
  border-bottom: 2px solid blueviolet;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div img{
  width: 400px;
  height: 300px;
  border: 2px solid #ff3d0036;
  margin: 10px;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  transition: 400ms;
}
div img:hover{
  filter: grayscale(1);
  transform: scale(1.03);
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.site-footer hr {
  border-top-color: #ffffff;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 5px;

}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
  color: #fff;
}

links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #fff;
  text-decoration: none;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
      margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
      padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
      text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.logo2 {
  color: #eb6857;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}